{{ $baseurl := .Site.BaseURL }}
<section data-route="home">
  <paper-material elevation="1">
	<content-loader file-path="{{$baseurl}}/bower_components/polymer/bower.json"></content-loader>
	<my-greeting></my-greeting>

	<p class="paper-font-subhead">You now have:</p>
	<my-list></my-list>

	<p class="paper-font-body2">Looking for more Web App layouts? Check out our <a href="https://github.com/PolymerElements/app-layout-templates">layouts</a> collection. You can also <a href="http://polymerelements.github.io/app-layout-templates/">preview</a> them live.</p>
  </paper-material>
  <paper-material elevation="1">
	<p class="paper-font-body2">This is another card.</p>
  </paper-material>
</section>