{{ $baseurl := .Site.BaseURL }}
<!-- Drawer Scroll Header Panel -->
<paper-scroll-header-panel drawer fixed>

	<!-- Drawer Toolbar -->
	<paper-toolbar id="drawerToolbar">
	  <span class="paper-font-title">Menu</span>
	</paper-toolbar>

	<!-- Drawer Content -->
	<paper-menu class="list" attr-for-selected="data-route" selected="{{"{{"}}route{{"}}"}}" on-iron-select="onMenuSelect">
	  <a data-route="home" href="/">
		<iron-icon icon="home"></iron-icon>
		<span>Home</span>
	  </a>

	  <a data-route="users" href="/users">
		<iron-icon icon="info"></iron-icon>
		<span>Users</span>
	  </a>

	  <a data-route="contact" href="/contact">
		<iron-icon icon="mail"></iron-icon>
		<span>Contact</span>
	  </a>
	</paper-menu>
	
</paper-scroll-header-panel>